# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings








PORT = 8080
DATABASE_URL= "postgresql://sreehari:password@localhost:5432/KSEB_APP_PROJECT?schema=public"

DB_HOST = KSEB_APP
DB_DRIVER = postgres
API_SECRET = 98hbun98h                            # Used for creating a JWT. Can be anything
DB_USER = sreehari
DB_PASSWORD = password
DB_NAME = /KSEB_APP_PROJECT
DB_PORT_HOST  = @localhost:5432
WEBSITE_DOMAIN = http://localhost:3000
API_DOMAIN = http://localhost:8080
PGADMIN_DEFAULT_EMAIL = live@admin.com
PGADMIN_DEFAULT_PASSWORD = password


SUPERTOKENS_URI = ""
SUPERTOKENS_API_KEY = ""
